/* Space out content a bit */
html, body {
            height: 100%;
            width: 100%;
            margin: 0px;
        }
/*AIzaSyBTAT_GlI8mFh6UnBeEN4CRWqTTdAjfIsg*/
/*#map_canvas {max-width: 100%;}*/
div[ng-controller="MapCtrl"], #map {
    min-height: 600px;
  height: 100%;
  position: relative;
  overflow: hidden;
  transform: translateZ(0px);
  background-color: #E5E3DF;
}
/*.angular-google-map-container {

  min-height: 600px;
  height: 100%;
  position: relative;
  overflow: hidden;
  transform: translateZ(0px);
  background-color: #E5E3DF;
}*/
.angular-google-map-container {
  height: calc(100% - 50px);
  width: 100%;
  position: absolute;
  overflow: hidden;
  transform: translateZ(0px);
  background-color: #E5E3DF;
}
.middle {
  display: table;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

footer a,
footer a:hover {color:white;}
